<!DOCTYPE html>
<html>
<head>
  <title>Blog3</title>
  <%= auto_discovery_link_tag :atom, posts_path(:format => :atom) %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application, jquery.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
